atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
ddt==1.2.0
html-testRunner==1.1.2
html2text==2018.1.9
idna==2.8
inscriptis==0.0.3.7
Jinja2==2.9.5
lxml==4.3.0
MarkupSafe==1.1.0
more-itertools==5.0.0
Pillow==6.2.0
pluggy==0.8.0
py==1.7.0
PyAutoGUI==0.9.41
PyGetWindow==0.0.3
PyMsgBox==1.0.6
pymssql==2.1.4
PyRect==0.1.4
PyScreeze==0.1.19
pytest==4.1.0
pytest-html==1.19.0
pytest-metadata==1.8.0
python-dateutil==2.8.0
PyTweening==1.0.3
pyunitreport==0.1.4
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.6.2
urllib3==1.24.1
